<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dashboard Page</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/sidebars.css">

</head>

<body>
    <main>
        <%- include("layouts/sidebar")  %>
            <div class="container mt-5">
                <div class="text-center mb-5">
                    <h1 class="h3 mb-3 font-weight-normal">User has been deleted</h1>
                </div>

                <a href="/dashboard">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Back</button>
                </a>

            </div>
    </main>
</body>

</html>